@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Edit";
    var availableRoles = ViewData["AvailableRoles"] as List<string>;
    List<string> SelectedRoles = new List<string>();
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="UserName">Username:</label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Phone number:</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <div class="form-group">
                <label for="SelectedRoles">Roles:</label>
                <select asp-for="@SelectedRoles" asp-items="@(new SelectList(availableRoles))" class="form-control" multiple>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
